<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.sawim"
          android:versionCode="4"
          android:versionName="1.2.0"
          android:installLocation="auto">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true"
                      android:anyDensity="true"/>
    <uses-sdk android:minSdkVersion="4"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:name=".SawimApplication">
        <activity android:name=".activities.SawimActivity"
                  android:label="@string/app_name"
                  android:theme="@style/AppThemeDarkNoBar"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OpenUriActivity"
                  android:theme="@style/AppThemeDarkNoBar"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                  android:configChanges="orientation|keyboardHidden"
                  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="xmpp"/>
            </intent-filter>
        </activity>
        <activity android:name=".photo.CameraActivity"
                  android:theme="@style/AppThemeDarkNoBar"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                  android:configChanges="orientation|keyboardHidden"
                  android:launchMode="standard">
        </activity>
        <activity android:name=".activities.ChatActivity"
                  android:theme="@style/AppThemeDarkNoBar"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"/>
        <activity android:name=".activities.AccountsListActivity"
                  android:theme="@style/AppThemeDark"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"/>
        <activity android:name=".activities.VirtualListActivity"
                  android:theme="@style/AppThemeLight"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"/>
        <activity android:name=".activities.FormActivity"
                  android:theme="@style/AppThemeLight"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"/>
        <service android:enabled="true" android:name=".SawimService" android:stopWithTask="true"/>
    </application>
</manifest> 